.*history
*.gz
oUnit-anon.cache
*.log
*.cmo
*.cma
*.cmx
*.cmi
*.cmxa
*.cmxs
*.a
*.annot
*.o
*.s
*.byte
*.top
.depend
all_tests.*
run_test
perf.data*
gmon.out
core
*.opt
ringbuf_ctl
BUGS
TODO
*.db
src/ramen
src/100k.csv
src/ramen_configurator
*.Rmd
stream_in
0_9_traffic.csv
*.html
src/corr.*
src/*.csv
src/colcomp/colcomp_test
src/RamenFileNotify.ml
src/RamenGui.ml
src/AlerterGui.ml
src/web/ramen_script.js
src/web/ramen_script.min.js
src/web/alerter_script.js
src/web/alerter_script.min.js
src/web/style.css
