.*history
.*.swp
*.gz
oUnit-anon.cache
*.log
*.cmo
*.cma
*.cmx
*.cmi
*.cmt
*.cmti
*.cmxa
*.cmxs
*.a
*.annot
*.o
*.s
*.byte
*.top
.depend
all_tests.*
run_test
perf.data*
gmon.out
core
*.opt
ringbuf_ctl
BUGS
TODO
*.db
src/ramen
rmadmin/rmadmin
src/100k.csv
*.Rmd
stream_in
0_9_traffic.csv
*.html
src/*.csv
src/RamenFileNotify.ml
src/RamenCompilConfig.ml
src/RamenDepLibs.ml
bundle
*.deb
debtmp/
*.x
*.smt2
*.smt2.no_opt
examples/**/*.ml
tests/**/*.ml
tests/func/*.success
tests/func/*.cc
tests/kafka/tmp
examples/prometheus-alertmanager.yml
wrap.sh
*.tgz
docker/z3
autom4te.cache
config.status
META
Makefile
debian.control
docker/Dockerfile
docker/Dockerfile-builder
opam
src/RamenVersions.ml
tests/features/api.feature
src/config.h
*~
tests/archivist/*/log
tests/archivist/*/archivist/*/allocs
tests/**/.experimenter_id
tests/results
site/man/*.groff
site/favicon.ico
site/menuicon.png
src/orc/orc_writer
moc_*.cpp
moc_*.h
qrc_*.cpp
rmadmin/rmadmin.app
rmadmin/RmAdmin.app
rmadmin/Makefile
rmadmin/*.dmg
.DS_Store
.qmake.stash
qttest
rmadmin/rmadmin.pro
.z3-trace
rmadmin/qcustomplot.cpp
rmadmin/qcustomplot.h
icon.iconset
*.icns
*.ico
*.info
tests/archivist/*/configuration
