.*history
*.gz
oUnit-anon.cache
*.log
*.cmo
*.cma
*.cmx
*.cmi
*.cmxa
*.cmxs
*.a
*.annot
*.o
*.byte
*.top
.depend
src/rigati/ramen/rigati
src/rigatoni/rigatoni
all_tests.*
run_test
perf.data*
gmon.out
core
*.opt
ringbuf_ctl
src/rigatoni/www/node_edit.js
src/rigatoni/HELP.html
BUGS
TODO
ramen_configurator
config.db
config.*.db
src/rigatoni/100k.csv
