# Umbrella for the many ramen services
[Unit]
Description=Ramen Stream Processor
After=multi-user.target
Documentation=https://rixed.github.io/ramen/man/man.html
