[Unit]
Description=Deletes old or unused Ramen files
PartOf=ramen.target
Documentation=https://rixed.github.io/ramen/man/gc.html

[Install]
WantedBy=ramen.target

[Service]
EnvironmentFile=-/etc/default/ramen
ExecStart=/usr/bin/ramen gc --loop --stdout
User=ramen
Restart=always
RestartSec=60
