[Unit]
Description=Ramen Alerter
PartOf=ramen.target
Documentation=https://rixed.github.io/ramen/man/.html

[Install]
WantedBy=ramen.target

[Service]
EnvironmentFile=-/etc/default/ramen
ExecStart=/usr/bin/ramen alerter --stdout
User=ramen
Restart=always
RestartSec=60
