[Unit]
Description=Expand simple replay requests into actual query plans
PartOf=ramen.target
Documentation=https://rixed.github.io/ramen/man/replayer.html

[Install]
WantedBy=ramen.target

[Service]
EnvironmentFile=-/etc/default/ramen
ExecStart=/usr/bin/ramen replayer --stdout
User=ramen
Restart=always
RestartSec=60
